mixin dev(_title, _img1, _alt1, _title1, _txt1, _img2, _alt2, _title2, _txt2, _img3, _alt3, _title3, _txt3, _img4, _alt4, _title4, _txt4)
    section
        .dev.pb-5
            .container
                    +title(_title).dev__title               
                    .row
                        .col-6
                            .dev__block
                                img.dev__img.mt-3(src= _img1, alt= _alt1)
                                h2.dev__subtitle.my-3= _title1
                                p.dev__txt= _txt1
                        .col-6
                            .dev__block
                                img.dev__img.mt-3(src= _img2, alt= _alt2)
                                h2.dev__subtitle.my-3= _title2
                                p.dev__txt= _txt2
                        .col-6
                            .dev__block
                                img.dev__img.mt-3(src= _img3, alt= _alt3)
                                h2.dev__subtitle.my-3= _title3
                                p.dev__txt= _txt3
                        .col-6
                            .dev__block
                                img.dev__img.mt-3(src= _img4, alt= _alt4)
                                h2.dev__subtitle.my-3= _title4
                                p.dev__txt= _txt4          
                        
                        
                        
                        
                        
