mixin nav(_c1, _c2, _c3, _c4, _c5, _c6)
    nav
        .container
            .row
                .col-12
                    .nav__block.pt-3
                        .nav__logo
                            a(href="index.html")
                                img.nav__img.img-fluid(src="https://www.sparkleappz.com/wp-content/uploads/2019/12/logo-187x66.png", alt="logo")
                    
                        ul.nav__menu.menu.d-flex.align-items-baseline
                            li.menu__item
                                a.menu__link(href="index.html", class= `${_c1}`) Home  
                            li.menu__item
                                a.menu__link.active(href="about.html", class= `${_c2}`) About
                            li.menu__item
                                a.menu__link.d-inline-flex.align-items-center(href="javascript:void(0)", class= `${_c3}`) Services
                                    i.menu__icon.fas.fa-chevron-down.ml-2
                                ul.submenu
                                    li.submenu__item
                                        a.submenu__link(href="ios.html") iOS App Development
                                    li.submenu_item
                                        a.submenu__link(href="android.html") Android App Development
                                    li.submenu__item
                                        a.submenu__link(href="websites.html") Websites Development Services
                                    li.submenu__item
                                        a.submenu__link(href="unity.html") Unity 3D Game Development
                                    li.submenu__item
                                        a.submenu__link(href="marketing.html") Digital Marketing Services
                                    li.submenu__item
                                        a.submenu__link(href="ui.html") UI/UX Design Services
                            li.menu__item
                                a.menu__link(href="portfolio.html", class= `${_c4}`) Portfolio
                            li.menu__item
                                a.menu__link(href="blog.html", class= `${_c5}`) Blog
                            li.menu__item
                                a.menu__link(href="contact.html", class= `${_c6}`) Contact
                            li.nav__buttons.d-flex.justify-content-end
                                a.menu__btn(href="mailto:info@sparkleappz.com") Get a free quote
                                a.menu__btn.menu__btn--call(href="tel:+91-7737791591") Call 
                                        i.fas.fa-phone
        
                    include burger/_burger.pug
                    +burger
        hr.nav__line